.tagButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.upButton {
  width: 40px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  opacity: 0.5;
  transition: 300ms ease-in-out;
}

.upButton:hover {
  opacity: 1;
  }

@media (min-width: 430px) {
  .upButton {
    left: 90%;
  }
}
